# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
portfolio-analytics/node_modules
portfolio-analytics/.pnp
portfolio-analytics/.pnp.js

# testing
portfolio-analytics/coverage

# next.js
portfolio-analytics/.next/
portfolio-analytics/out/

# production
portfolio-analytics/build

# misc
portfolio-analytics/.DS_Store
*.pem

# debug
portfolio-analytics/npm-debug.log*
portfolio-analytics/yarn-debug.log*
portfolio-analytics/yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
